
h3::before{
    content: "";
    position: absolute;
    background-color: bisque;
    width: 5%;
    height: 3px;
    top: 100%;
}
.card-img-top{
    transition-duration: 0.5s;
}
.hovering:hover .card-img-top{
    transform: scale(1.2,1.2);   
}

i{
    transition-duration: 0.5s;
}
.btn-ico:hover i{
transform: translateX(0.5rem);
}
.carousel-item .card {
    left: 50%;
}

.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
}

h3{
    font-family: "Sevillana", cursive;
}