@font-face {
    font-family: "sellav";
    src: url(../fonts/Sevillana-Regular.ttf);
}
h5{
    font-family: "sellav";
}
body{
    background-color: rgb(247, 239, 228);
    }

.btn{
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: rgba(170, 148, 106, 0.483) !important;
    box-shadow: 0 0 0 5px rgba(170, 148, 106, 0.258);
}
input:focus {
    border: 1px solid #cba76c;
    box-shadow: 0 0 0 5px #cba76c54;
    outline: 0;
}
select:focus {
    border: 1px solid #cba76c;
    box-shadow: 0 0 0 5px #cba76c54;
    outline: 0;
}

input,select{
    border: 1px solid #cba76c;
}
.btn{
    background-color:#776445 ;
}
.container{
    box-shadow:  0 0 10px 10px #e5b973;
}
.col{
    color: #776445;
}

.floating-img{
    animation: float-up-down 2s ease-in-out infinite both;
}

@keyframes float-up-down{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0%);
    }
}
.text-color{
    color: #4e3a1a54;
}
.s-color{
    color: #776445;
}