@font-face {
  font-family: "Amatic";
  src: url(../fonts/AmaticSC-Regular.ttf);
}
h3{
  font-family: "Amatic";
}
.bg-color{
  background-color: rgb(155, 132, 101);
}
.text-bg-color{
  background-color:rgb(155, 132, 101) ;
}

header {
    background-image: url(../images/homePage.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.caption_header {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
}
.caption_header a{
    font-family:  "Amatic", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.caption_header h3{
    font-family:  "Amatic", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}
h3{
    font-family:  "Amatic", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: black;
}
span{
  color:rgb(155, 132, 101);
}
.btng {
    padding: 1.5em 3em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #fff;
    background-color: rgba(222, 184, 135);
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .caption_header button{
    background-color: transparent;
  }
  .btng:hover {
    box-shadow: 0px 15px 20px rgba(164, 150, 108, 0.4);
    color: rgba(222, 184, 135, 0.5);
    transform: translateY(-7px);
  }
  
  .btng:active {
    transform: translateY(-1px);
  }
  .porfolio-layer {
    position: absolute;
    inset: 5px;
    opacity: 0;
    transition-duration: 0.5s;
    background-color: #fdfbfb;
}

.porfolio-img:hover .porfolio-layer {
    opacity: 1;
}

.porfolio-layer a {
    background-color: rgba(164, 150, 108, 0.4);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.porfolio-layer a:hover {
    background-color: white;
    border: rgba(164, 150, 108, 0.4) 1px solid;
}

.porfolio-layer a:hover i {
    color: rgba(164, 150, 108, 0.4);
}
